<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form 1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Form 1</h1>
        <form method="post" action="/submit-form">
            <label for="text1">Text 1:</label>
            <input type="text" id="text1" name="text1"  placeholder="Enter the text1" required>

            <label for="text2">Text 2:</label>
            <input type="text" id="text2" name="text2" placeholder="Enter the text2" required>

            <label for="text3">Text 3:</label>
            <input type="text" id="text3" name="text3" placeholder="Enter the text3" required>

            <label for="text4">Text 4:</label>
            <input type="text" id="text4" name="text4" placeholder="Enter the text4" required>

            <label for="text5">Text 5:</label>
            <input type="text" id="text5" name="text5" placeholder="Enter the text5" required>

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
